@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul,
li,
ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  cursor: url("img/hook.png"), pointer;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black; }
  body h1 {
    color: #fff;
    margin-bottom: 20px;
    font: 32px/1 'Press Start 2P'; }
    body h1 span {
      color: red; }
  body .game {
    width: 70%;
    height: 70vh;
    background: url(img/background.jpg) no-repeat center/cover;
    position: relative;
    border-radius: 4px;
    overflow: hidden; }
    body .game .game-guide .start {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 10px;
      margin-left: 10px;
      padding: 20px 40px;
      color: blue;
      border: none;
      background: #fff;
      border: 10px solid blue;
      font: 24px/1 'Press Start 2P';
      cursor: pointer; }
      body .game .game-guide .start:hover strong {
        display: block;
        transform: scale(1.2); }
    body .game .game-guide .stop {
      display: block;
      position: absolute;
      top: 10px;
      left: 20px;
      background: #000;
      padding: 10px 20px;
      border-radius: 10px;
      margin-bottom: 10px;
      color: #fff;
      font: 24px/1 'Press Start 2P';
      border: none;
      cursor: pointer; }
    body .game .game-guide .stop-hide {
      display: none; }
    body .game .game-guide .game-info {
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      color: #fff;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      margin-top: 10px; }
      body .game .game-guide .game-info span {
        font: 24px/1 'Press Start 2P'; }
      body .game .game-guide .game-info .time {
        background: #000;
        padding: 10px 20px;
        border-radius: 10px;
        margin-bottom: 10px; }
      body .game .game-guide .game-info .game-score {
        text-align: center;
        background: orange;
        padding: 10px 20px;
        border-radius: 10px; }
    body .game .game-space {
      width: 100%;
      height: 100%; }
      body .game .game-space.active .fish {
        position: relative;
        animation-name: fish;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite; }
      body .game .game-space.active .shark {
        position: relative;
        animation-name: shark;
        animation-duration: 5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        transition: all 0.3s; }
        body .game .game-space.active .shark:hover {
          transform: scale(1.2); }
  body .pop-up {
    position: fixed;
    width: 40%;
    height: 30%;
    background: rgba(255, 255, 255, 0.822);
    border-radius: 20px;
    display: block;
    text-align: center; }
    body .pop-up span {
      display: block;
      font: 24px/1 'Press Start 2P';
      margin: 50px 0; }
    body .pop-up button {
      border: none;
      background: none;
      font: 24px/1 'Press Start 2P';
      cursor: pointer;
      color: blue; }
      body .pop-up button i {
        font-size: 30px; }
      body .pop-up button:hover {
        transform: scale(1.2); }
  body .hide {
    display: none; }
  body .rule {
    display: none;
    position: absolute;
    width: 80%;
    height: 80vh;
    background-color: #fff;
    z-index: 10;
    border-radius: 20px;
    text-align: center; }
    body .rule h2 {
      font: bold 28px/1 'Press Start 2P';
      color: blue;
      margin: 80px 0; }
    body .rule p {
      font: 18px/1 'Press Start 2P';
      margin-bottom: 20px;
      text-align: center; }
    body .rule .hook {
      margin: 40px auto;
      position: relative;
      width: fit-content; }
      body .rule .hook img {
        width: 100px;
        height: 100px; }
      body .rule .hook .point {
        width: 20px;
        height: 20px;
        background: red;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0; }
    body .rule .close {
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      font: 18px/1 'Press Start 2P';
      cursor: pointer; }
  body .ruleBtn {
    position: absolute;
    top: 40px;
    right: 40px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font: 18px/1 'Press Start 2P';
    cursor: pointer;
    background: transparent;
    border: 3px solid #ddd;
    color: #ddd; }

@keyframes fish {
  0% {
    transform: translateX(-600%); }
  100% {
    transform: translateX(600%); } }
@keyframes shark {
  0% {
    transform: translateX(600%); }
  100% {
    transform: translateX(-600%); } }

/*# sourceMappingURL=style.css.map */
